
{% extends 'base.html' %}
{% load static %}

{% block title %}Категория: {{ category.name }}{% endblock %}

{% block content %}
<main class="main">
  

  <!-- Breadcrumb -->
  <div class="page-title">
    <div class="breadcrumbs">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="bi bi-house"></i> Home</a></li>
          <li class="breadcrumb-item active current">{{ category.name }}</li>
        </ol>
      </nav>
    </div>
    <div class="title-wrapper">
      <h1>{{ category.name }}</h1>
      <p>Публикации в категории <strong>{{ category.name }}</strong></p>
    </div>
  </div>

  <!-- Articles Grid -->
  <section class="search-results-posts section" id="search-results-posts">
    <div class="container">
      
      <div class="row gy-4">

        

 

        {% for article in articles %}
          <div class="col-lg-4">
            <article>
              <div class="post-img">
                {% if article.image %}
                  <img src="{{ article.image.url }}" alt="{{ article.title }}" class="img-fluid">
                {% else %}
                  <img src="{% static 'img/blog/blog-post-1.webp' %}" alt="default image" class="img-fluid">
                {% endif %}
              </div>
              <p class="post-category">{{ article.category.name }}</p>
              <h2 class="title">
                <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a>
              </h2>
              <div class="d-flex align-items-center">
                <img src="{% static 'img/person/person-m-11.webp' %}" class="img-fluid post-author-img flex-shrink-0" alt="author">
                <div class="post-meta">
                  <p class="post-author">{{ article.author.username }}</p>
                  <p class="post-date">{{ article.pub_date|date:"M d, Y" }}</p>
                </div>
              </div>
            </article>
          </div>
        {% empty %}
          <p>Нет статей в этой категории.</p>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
